
# --- 예외 허용 (GitHub에 올려야 하는 DB) ---
!src/main/resources/database/abbreviations.db
!src/main/resources/database/emr_templates.db
!src/main/resources/database/prolist.db
.gradle/
.gradle-cache/
.gradle-local/
wrapper/dists/

# Build outputs
**/build/
**/bin/

# Local logs and helpers
*.log
.aider*
